Repository vitejs/vite-plugin-react, pull requests merged in 2025-05, with the labels that each got.

#478 fix(plugin-swc): skip HMR preamble in Vitest browser mode
  packages/plugin-react-swc/CHANGELOG.md
  packages/plugin-react-swc/src/index.ts
Labels: plugin: react-swc

#481 ci: add preview release action
  .github/workflows/release-continuous.yml
Labels: trigger: preview

#470 feat: add filter
  packages/plugin-react-oxc/CHANGELOG.md
  packages/plugin-react-oxc/package.json
  packages/plugin-react-oxc/src/index.ts
  packages/plugin-react-swc/CHANGELOG.md
  packages/plugin-react-swc/package.json
  packages/plugin-react-swc/src/index.ts
  packages/plugin-react/CHANGELOG.md
  packages/plugin-react/package.json
  packages/plugin-react/src/index.ts
  pnpm-lock.yaml
Labels: p3-significant 🔨, plugin: react, plugin: react-swc, plugin: react-oxc

#480 fix(hmr): skip HMR for JSX files with hooks
  packages/common/refresh-utils.ts
  packages/plugin-react-oxc/CHANGELOG.md
  packages/plugin-react-swc/CHANGELOG.md
  packages/plugin-react/CHANGELOG.md
  playground/hook-with-jsx/__tests__/hook-with-jsx.spec.ts
  playground/hook-with-jsx/__tests__/oxc/hook-with-jsx.spec.ts
  playground/hook-with-jsx/index.html
  playground/hook-with-jsx/package.json
  playground/hook-with-jsx/public/vite.svg
  playground/hook-with-jsx/src/App.tsx
  playground/hook-with-jsx/src/index.tsx
  playground/hook-with-jsx/src/useButtonHook.tsx
  playground/hook-with-jsx/tsconfig.json
  playground/hook-with-jsx/vite.config.ts
  pnpm-lock.yaml
Labels: plugin: react, plugin: react-swc, plugin: react-oxc

#483 chore: fix changelog log on release command
  scripts/release.ts
Labels: p1-chore 🧹
