Repository vitejs/vite-plugin-react, pull requests merged in 2025-09, with the labels that each got.

#841 fix(rsc): keep server stylesheet link for hmr and avoid injecting css via client js
  packages/plugin-rsc/e2e/basic.test.ts
  packages/plugin-rsc/src/plugin.ts
  packages/plugin-rsc/src/plugins/shared.ts
Labels: trigger: preview

#872 fix(react): hmr did not work for components imported with queries with rolldown-vite
  packages/plugin-react/CHANGELOG.md
  packages/plugin-react/src/index.ts
  playground/react-classic/App.jsx
  playground/react-classic/__tests__/react.spec.ts
  playground/react-classic/components/WithQuery.jsx
  playground/react/App.jsx
  playground/react/__tests__/react.spec.ts
  playground/react/components/Dummy.jsx
  playground/react/components/WithQuery.jsx
Labels: plugin: react

#877 chore: update onlyBuiltDependencies
  pnpm-workspace.yaml
Labels: p1-chore 🧹

#880 docs: remove `disableOxcRecommendation` from plugin-react readme
  packages/plugin-react/README.md
Labels: documentation, plugin: react

#884 fix(rsc): reject inline "use server" inside "use client" module
  packages/plugin-rsc/e2e/error.test.ts
  packages/plugin-rsc/src/plugin.ts
  packages/plugin-rsc/src/transforms/hoist.ts
Labels: trigger: preview

#882 feat(react): full bundle mode compat
  packages/plugin-react/src/index.ts
Labels: plugin: react, trigger: preview

#888 chore(react): fix ecosystem-ci failure
  packages/plugin-react/src/index.ts
Labels: p1-chore 🧹, plugin: react
