Repository vitejs/vite-plugin-react, pull requests merged in 2025-06, with the labels that each got.

#490 chore(readme): add plugin-react-oxc to the table
  README.md
Labels: documentation

#489 fix: use `optimizeDeps.rollupOptions` for rolldown-vite
  packages/plugin-react-swc/CHANGELOG.md
  packages/plugin-react-swc/src/index.ts
  packages/plugin-react/CHANGELOG.md
  packages/plugin-react/src/index.ts
Labels: p2-has-workaround 🍰, plugin: react, plugin: react-swc

#513 feat(react): add raw rolldown support
  eslint.config.js
  package.json
  packages/plugin-react/CHANGELOG.md
  packages/plugin-react/package.json
  packages/plugin-react/src/index.ts
  packages/plugin-react/tests/rolldown.test.ts
  pnpm-lock.yaml
Labels: p2-nice-to-have 🍰, plugin: react
